* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafaf9;
  color: #1c1917;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 24px 48px;

  overflow: hidden;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
  /* height: 100vh; */
  /* overflow: scroll; */
}

.search-section {
  position: sticky;
  z-index: 999;
}

.search-comp {
  margin-bottom: 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #1c1917;
  padding-bottom: 24px;
  /* height: 100vh; */
}

.search-bar { 
  position: relative;
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s;
}

.search-input {
  height: 48px;
  width: 480px;
  padding: 16px;
  border-radius: 50px;
  border:none;
}

.search-input:focus {
  outline: none;
  width: 500px;
  outline: 1px solid #a3e635;
}

.search-input:[placeholder] {
  font-family: "Inter", sans-serif;
  color:#1c1917;
}

.search-input:focus + .search-button {
  stroke: #a3e635;
}

.search-button {
  position: absolute;
  right: 12px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.search-button:focus {
  outline: none;
}

.search-button:active {
  transform: translateY(2px);
}

.search-icon {
  height: 24px;
  width: 24px;
  fill: #1c1917;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  height: 48px;
  width: 48px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.profile div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.profile div span {
  font-size: 16px;
  font-weight: 600;
}

.profile div p {
  font-size: 12px;
}

.profile img {
  width: 48px;
  height:48px;
  border-radius: 50%;
  cursor: pointer;
}

.main {
  display: grid;
  background-color: #fafafa;

  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr;

  gap: 64px;
  /* overflow: scroll; */
}

.nav-bar {
  display: flex;
  align-items:center;
  justify-content: space-between;
  height: 96vh;
  flex-direction: column;
  
  border-right: 1px solid #1c1917;
  padding-right: 24px;
  margin: 0 auto;

  font-family: "Inter", sans-serif;
  background-color: #fafaf9;
}


.nav-list {
  display: flex;
  align-items: center;
  justify-items: center;

  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 12px;
}

.logout {
  /* margin-left: auto; */
  display: flex;
  align-items: baseline;
  justify-items: baseline;
}

.btn:hover {
  border-radius: 12px;
  padding: 16px 64px;
  background-color: #d9f99d;
}

/* #c3fae8 */

.btn {
  display: block;
  margin: 0 auto;
  color:#1c1917;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;

  padding: 16px 64px;
  border-radius: 12px;
}

.btn-active {
  background-color: #a3e635;
}

.btn-logout {
  color: #fff;
  background-color: #f43f5e;
}

.btn-logout:hover {
  color: #fafaf9;
  background-color: #fda4af;
}

.tracking-section {
  display: flex;
  flex-direction: column;
  min-width: 0; /* Key to horizontal scroll */

  height: 100vh;
}
::-webkit-scrollbar-track {
  background: #fafaf9;
  /* width: 10px;
  height: 8px; */
}

*::-webkit-scrollbar {
  background: #c1c1c1;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: #fafafa;
  border-radius: 16px;
  /* #c1c1c1 */
  /* width: 10px;
  height: 8px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #d9f99d;
  border-radius: 16px;
  cursor: grab;
}

.orders-section {
  height: 100vh;
  overflow: scroll;
}

.order-section-comp {
  margin-bottom: 32px;
}

.order-card-scroll {
}

.order-list-section {
  overflow: scroll;
}

.order-status-list {
  display: flex;
  gap: 24px;
  /* flex: 10 0 auto; */
  align-items: flex-start;
  overflow-x: auto;
  flex-basis: 50%;
  flex-shrink: 0;
}

.order-cards {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
  
  border-radius: 18px;
  padding: 64px;
}

.order-cards h3 {
  font-size: 64px;
}

.order-cards div {
  font-size: 18px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

.order-filter {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

.order-btn {
  border: none;
  cursor: pointer;
  background-color: #d9f99d;
}

.filter-function {
  display: flex;
  gap: 24px;

  align-items: center;
  justify-content: center;
}

.filter-function select {
  border: none;
  outline: none;
  padding: 16px;
  border-radius: 16px;
  font-family: inherit;
}

.filter-function select:focus {
  border: 1px solid #a3e635;
}

.data-table {
  margin-top: 48px;
  overflow: scroll;
}

.card {
  display: block;
  /* align-items: center;
  justify-content: center; */

  /* margin: 0 auto; */
  /* height: 16px; */
  /* padding: 16px 8px; */
  border-radius: 8px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

th, td {
  text-align: left;
  padding: 16px 24px;
}

thead tr {
  font-size: 16px;
  background-color: #a3e635;
  color: #1c1917;
}

tbody {
  align-items: center;
  justify-content: center;
  min-width: 0;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

.table-pagination {
  background-color: #e9ecef;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-pagination span {
  font-weight: 500;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.pagination-btn {
  border: 1px solid #d9f99d;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: none;
  cursor: pointer;
}
