* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafaf9;
  color: #1c1917;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 48px 64px;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
  height: 100vh;
}

.header {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar { 
  position: relative;
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s;
}

.search-input {
  height: 48px;
  width: 480px;
  border-radius: 50px;
  border:none;
}

.search-input:focus {
  outline: none;
  width: 500px;
  outline: 1px solid #a3e635;
}

.search-input[placeholder] {
  padding: 16px;
  font-family: "Inter", sans-serif;
  color:#1c1917;
}

.search-input:focus + .search-button {
  background-color: ;
}

.search-button {
  position: absolute;
  right: 12px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.search-button:focus {
  outline: none;
}

.search-button:active {
  transform: translateY(2px);
}

.search-icon {
  height: 24px;
  width: 24px;
  fill: #1c1917;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  height: 48px;
  width: 48px;
}

.profile img {
  width: 48px;
  height:48px;
  border-radius: 50%;
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-columns: 400px 1fr;
}