* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafaf9;
  color: #1c1917;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 48px 64px;

  overflow: hidden;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
  height: 100vh;
}

.search-comp {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar { 
  position: relative;
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s;
}

.search-input {
  height: 48px;
  width: 480px;
  border-radius: 50px;
  border:none;
}

.search-input:focus {
  outline: none;
  width: 500px;
  outline: 1px solid #a3e635;
}

.search-input[placeholder] {
  padding: 16px;
  font-family: "Inter", sans-serif;
  color:#1c1917;
}

.search-input:focus + .search-button {
  stroke: #a3e635;
}

.search-button {
  position: absolute;
  right: 12px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.search-button:focus {
  outline: none;
}

.search-button:active {
  transform: translateY(2px);
}

.search-icon {
  height: 24px;
  width: 24px;
  fill: #1c1917;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  height: 48px;
  width: 48px;
}

.profile img {
  width: 48px;
  height:48px;
  border-radius: 50%;
  cursor: pointer;
}

.main {
  display: grid;

  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr;

  /* gap: 64px; */
}

.nav-bar {
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 72px;
  height: 90vh;
  flex-direction: column;
  
  margin: 0 auto;

  font-family: "Inter", sans-serif;
  background-color: #fafaf9;
}


.nav-list {
  display: flex;
  align-items: center;
  justify-items: center;

  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 12px;
}

.logout {
  /* margin-left: auto; */
  display: flex;
  align-items: baseline;
  justify-items: baseline;
}

.btn:hover {
  border-radius: 12px;
  padding: 16px 64px;
  background-color: #d9f99d;
}

/* #c3fae8 */


.btn {
  display: block;
  margin: 0 auto;
  color:#1c1917;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;

  padding: 16px 64px;
  border-radius: 12px;
}

.btn-active {
  background-color: #a3e635;
}

.btn-logout {
  color: #fff;
  background-color: #f43f5e;
}

.btn-logout:hover {
  color: #fafaf9;
  background-color: #fda4af;
}

.tracking-section {
  display: flex;
  flex-direction: column;

  overflow: scroll;
}